* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
// VARIABLES HERE

$background-color: hsl(0, 3%, 54%);
$button-color: hsl(0, 100%, 50%);
$button-background-color: hsl(208, 100%, 97%);
$gradient-left: hsl(320, 70%, 54%);
$gradient-right: hsl(62, 100%, 50%);
$memes-underline: hsl(270, 50%, 40%);
$meme-shadow: hsl(0, 0%, 0%);
$showMore-text: hsl(251, 92%, 50%);
// END OF VARIABLES HERE
body {
  background-color: $background-color;
}

// APP SECTION HERE
.app--section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5rem;
  font-style: oblique;
  text-decoration: underline;
  text-decoration-color: white;
  background: $gradient-right; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    $gradient-left,
    $gradient-right
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $gradient-left,
    $gradient-right
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
// END OF APP SECTION HERE

// REVIEW SECTION HERE
.review--section {
  padding: 2rem 5rem;
  margin-top: 7rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.2rem 0.2rem 2rem 0.1rem black;
  border-radius: 2rem;
  min-width: 25rem;
  max-width: 40rem;
  min-height: 30rem;
  max-height: 50rem;
}

.review--img {
  padding: 2rem;
}
.review--img--person {
  position: relative;
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  &::after {
    content: '';
    width: 120%;
    height: 120%;
    background: red;
    position: absolute;
    top: 50rem;
    right: 0rem;
    border-radius: 50%;
  }
}
.review--name {
  font-size: 3rem;
  margin-bottom: 1rem;
  word-break: keep-all;
}
.review--job {
  font-size: 2.5rem;
  color: gray;
  margin-bottom: 1rem;
  word-break: break-all;
  word-wrap: break-word;
}
.review--description {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  width: 30rem;
  height: 10rem;
}

.review--button--container {
  margin-top: 2rem;
  display: flex;
}
.random--button {
  padding: 1rem 2rem;
  background-color: rgba(0, 255, 255, 0.123);
  border: none;
  border-radius: 1rem;
  color: rgb(0, 132, 255);
  font-weight: 600;
  width: 15rem;
  margin: 0 8rem;
  cursor: pointer;
}

.prev--button {
  font-size: 3rem;
  color: rgb(16, 162, 182);
  border: none;
  background-color: white;
  cursor: pointer;
}
.next--button {
  font-size: 3rem;
  color: rgb(16, 162, 182);
  border: none;
  background-color: white;
  cursor: pointer;
}
// END OF REVIEW SECTION HERE
